body
{
background-color: black;
font-family: helvetica;
color: papayawhip;
}

a
{
color: lightblue;
}

div.header
{
width: 100%; 
text-align: center;
padding-top:5px;
}

div.blog
{
width: 800px;
margin-left: 20%;
float: left;
padding-top: 30px;
clear:float;
}

pre.blogbody
{
  float:left;
  width: 100%;
  border-top-style: solid;
  border-top-width: 2px;
  margin-top: 5px;
  padding-top: 5px;
}

div.title
{
width: 400px;
text-align: left;
float: left;
}

div.datecreated
{
width: 400px;
text-align: right;
float: right;
}

div.signup
{
width: 100%;
float: right;
text-align: right;
border-bottom-style: solid;
border-bottom-width: 2px;
padding-bottom: 5px;
}

div.hr
{
width: 100%;
}

form
{
text-align: left;
font-size: 16px;
}


input.userinfo
{
width: 200px;
} 

input
{
width: 600px;
} 

textarea
{
width: 600px;
height: 300px;
} 

input.button
{
text-align: center;
width: 50%;
background-color: black;
font-family: helvetica;
color: papayawhip;
font-size: 22px;
height: 50px;
}

div.error
{
text-align: left;
font-family: helvetica;
color: red;
}